.main-box {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.box {
  height: 100px;
  flex: 100%;
  max-width: 200px;
  background: teal;
  min-width: 100px;
}

@media (max-width: 650px) {
  .box {
    background: orange;
    min-width: 100%;
  }
}
@media (max-width: 350px) {
  .main-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: nowrap;
  }
  .box {
    background: green;
    width: 100%;
    min-width: 100%;
    height: 100px;
    min-height: 100px;
  }
}
